<div class="flex flex-col items-center w-full">
    <div class="w-full">
        <app-search (searchParams)="onSearchParamsChange($event)" />
    </div>

    <ul class="w-full mt-6 flex flex-col items-center">
        @if (tasks.length === 0) {
            <p class="text-center text-gray-500 dark:text-gray-400">No tasks found</p>
        } @else {
            @for (task of tasks; track tasks) {
                <li class="w-2/3 flex justify-center">
                    <div [style.background-color]="task.priority === 'High' ? '#e97570' : task.priority === 'Medium' ? '#ffc331' : '#90d9a0'" 
                        class="w-2 block my-4 max-h-36 border border-gray-200 rounded-s-lg shadow">
                    </div>
                    <div class="w-full flex flex-row py-4 pr-4 my-4 max-h-36 bg-white border border-gray-200 rounded-e-lg shadow hover:bg-gray-100">
                        <div class="flex items-center justify-center text-center bg-center">
                            <input class="mx-1 w-10 h-8 border-none text-center appearance-none bg-no-repeat bg-center hover:cursor-pointer" 
                                [style.background-image]="task.status === 'Active' ? activeImage : finalizedImage" 
                                type="checkbox" placeholder="completed" 
                                [checked]="task.status" 
                                (change)="changeStatus(task)" 
                            />
                        </div>
                        <div class="block w-full">
                            <h5 [class.line-through]="task.status === 'Finalized'" class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{task.title}}</h5>
                            <p class="font-normal text-indigo-900 text-wrapper overflow-y-auto whitespace-normal break-words w-full h-12">{{task.description}}</p>
                            <p class="font-normal text-indigo-900 w-full text-right">{{task.creationDate | timeAgo}}</p>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</div>